
body {
    background-image: url(../imgs/bg1000.jpg);
}


     

#projectsPages {
    min-width: 350px;
}



.nav-wrapper {
    background: rgba(3, 80, 90, 0.9);
}

.waves-effect {
    background-color: rgb(3, 132, 141);
}


#logo {
   font-family: 'Press Start 2P';
    margin-left: 20px;
}

#lists {
    margin-right: 50px;
    height: 80px;
}

#nav {
    height: 5%;
}

#title {
    font-family: 'Press Start 2P';
    margin-left: 15%;
}

#navbar {
    background: rgba(1, 63, 99, 0.9);
}

#nav-content {
    position: absolute;
}

#introVideo {
    margin-left: 50%;
    margin-top: 5%;
}



.float-right {
    float: right;
    margin-right: 25mm;
    margin-top: 10mm;
}

#footer {
    position: absolute;
    width: 100%;
}

footer p {
    position: fixed;
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: cursive;
    outline-style: outset;
    outline-color: rgb(38, 178, 202);
    outline-offset: 2mm;
    font-size: 15px;
    letter-spacing: 1mm;
    border-style: dotted;
}

.row {
    width: 80%;
    margin-left: 10%;
    margin-right: auto;
    margin-top: 5%;
}